$primary: #1ea3a0;
//$primary-invert: findColorInvert($primary);

//$colors: (
//  "primary": ($primary, $primary-invert),
//);

$link: rgb(36,48,83);
//$link-invert: $primary-invert;
$link-focus-border: $primary;

//$family-sans-serif: "Heebo", sans-serif;
//$family-sans-serif: "Josefin Sans", sans-serif;
$family-sans-serif: "Karla", sans-serif;
//$family-sans-serif: "Rubik", sans-serif;
