// Fonts
@import url("https://fonts.googleapis.com/css?family=Varela+Round&display=swap");

// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #39b166;
$primary-invert: findColorInvert($primary);

// Setup $colors to use as Bulma classes (e.g. 'is-twitter')
$colors: (
  "primary": ($primary, $primary-invert),
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

html, body {
  background: rgb(28, 30, 32);
  color: #fff;
  font-family: 'Varela Round', sans-serif;

  @media (max-width: 1000px) {
    font-size: .9em;
  }
}

body {
  animation: fadeInAnimation ease-out .5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 20px auto;
}

.container {
  padding: 0 20px;
}

.page {
  &-home,
  &-404 {
    h1 {
      font-size: 3em;
      margin-bottom: 30px;
    }
    .button {
      margin-top: 40px;
    }
    & + .copyright {
      bottom: 10px;
    }
    @media (max-width: 1000px) {
      h1 {
        font-size: 1.6em;
      }
      .button {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
      p {
        text-align: center;
      }
    }
  }
}

h1 {
  font-size: 1.6em;
  font-weight: lighter;
  span {
    font-weight: bold;
  }
  a {
    color: #fff;
  }
  @media (max-width: 1000px) {
    text-align: center;
  }
}

h2 {
  font-size: 1.3em;
}

a {
  &:hover {
    color: inherit;
  }
}

input[type=search] {
  background: rgb(35, 38, 42);
  border: none;
  border-radius: 0;
  border-bottom: 1px solid rgb(90, 94, 100);
  box-shadow: none;
  color: #fff;
  font-size: 16px; // Prevent iOS zoom bug
  padding: 0;
  transition: .3s ease;
  &::-webkit-input-placeholder,
  &::-ms-input-placeholder,
  &::placeholder {
    color: rgb(90, 94, 100) !important;
  }
  &:focus {
    padding: 0 8px;
  }
}

.button {
  font-family: 'Varela Round', sans-serif;
  margin-bottom: 0 !important;
  transition-duration: .2s;
  &.button-clear {
    display: none;
    flex-shrink: 0;
    padding: 0;
    width: 32px;
    height: 32px;
  }
  @media (max-width: 1000px) {
    &.button-save-playlist {
      position: fixed;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
    }
  }
}

.small {
  font-size: .8em;
}

.muted {
  color: rgb(90, 94, 100);
}

.buttons {
  display: flex;
  justify-content: space-between;
  @media (max-width: 1000px) {
    display: block;
  }
}

.panels {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  max-height: calc(100vh - 120px);
  @media (max-width: 1000px) {
    display: block;
  }
}

.panel {
  flex: 0 0 49%;
  background: rgb(35, 38, 42);
  border-radius: 20px;
  overflow-y: scroll;
  padding: 20px 20px 10px;
  position: relative;
  .panel-title {
    margin-bottom: 15px;
  }
  @media (max-width: 1000px) {
    flex: 0 0 90%;
    margin-bottom: 10px;
    &.albums {
      margin-bottom: 90px;
    }
  }
}

.item {
  align-items: center;
  border-radius: 10px;
  color: #fff;
  display: flex;
  margin-top: 10px;
  margin-right: -10px;
  margin-left: -10px;
  padding: 10px 10px;
  transition: .3s ease;
  img {
    border-radius: 3px;
    object-fit: cover;
    object-position: center;
    width: 80px;
    height: 80px;
  }
  .item-title {
    flex-grow: 1;
    margin-left: 20px;
    overflow-x: hidden;
    span {
      display: inline-block;
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
      &.small {
        margin-top: -2px;
      }
    }
  }
  &:hover, &.selected {
    background: rgb(34, 36, 38);
    box-shadow: 0 10px 20px rgb(28, 30, 32);
    color: #fff;
  }
  @media (max-width: 1000px) {
    margin-top: 0;
    padding-right: 5px;
    img {
      width: 50px;
      height: 50px;
      margin-top: -5px;
    }
    .item-title {
      line-height: 1.2em;
      margin-left: 15px;
    }
    &:hover, &.selected {
      background: none;
      box-shadow: none;
    }
  }
}

.playlist-selected {
  .item.selected {
    .button.button-clear {
      display: block;
    }
  }
  @media (max-width: 1000px) {
    .item:not(.selected) {
      display: none;
    }
  }
}

.select-buttons {
  position: absolute;
  top: 20px;
  right: 20px;

  .button + .button {
    margin-left: 8px;
  }
  @media (max-width: 1000px) {
    position: relative;
    top: unset;
    right: unset;
    margin: 25px auto 20px;
    text-align: center;
  }
}

.b-checkbox.checkbox.is-disabled {
  cursor: pointer !important;
  opacity: 1 !important;
}

.copyright {
  position: fixed;
  right: 10px;
  bottom: 5px;

  @media (max-width: 1000px) {
    right: unset;
    bottom: 65px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }
}

.logout {
  position: fixed;
  top: 5px;
  right: 10px;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
