// Fonts
@import url("https://fonts.googleapis.com/css?family=Varela+Round&display=swap");

// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #39b166;
$primary-invert: findColorInvert($primary);

// Setup $colors to use as Bulma classes (e.g. 'is-twitter')
$colors: (
  "primary": ($primary, $primary-invert),
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

html, body {
  background: rgb(28, 30, 32);
  color: #fff;
  font-family: 'Varela Round', sans-serif;

  @media (max-width: 1000px) {
    font-size: .9em;
  }
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 20px auto;
}

.container {
  padding: 0 20px;
}

.page {
  &-home {
    h1 {
      font-size: 3em;
      margin-bottom: 30px;
      @media (max-width: 1000px) {
        font-size: 1.6em;
      }
    }
    .button {
      margin-top: 40px;
    }
  }
}

h1 {
  font-size: 1.6em;
  font-weight: lighter;
  span {
    font-weight: bold;
  }
  a {
    color: #fff;
  }
}

h2 {
  font-size: 1.3em;
}

a {
  &:hover {
    color: inherit;
  }
}

.button {
  margin-bottom: 0 !important;
  transition-duration: .2s;
  &.button-clear {
    display: none;
    padding: 0;
    width: 32px;
    height: 32px;
  }
}

.small {
  font-size: .8em;
}

.muted {
  color: rgb(90, 94, 100);
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.columns {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  max-height: calc(100vh - 120px);
  @media (max-width: 1000px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.column {
  flex: 0 0 49%;
  background: rgb(35, 38, 42);
  border-radius: 20px;
  overflow-y: scroll;
  padding: 20px;
  position: relative;
  @media (max-width: 1000px) {
    flex: 0 0 90%;
    margin-bottom: 50px;
  }
}

.item {
  align-items: center;
  border-radius: 10px;
  color: #fff;
  display: flex;
  margin-top: 10px;
  margin-right: -10px;
  margin-left: -10px;
  padding: 10px 10px;
  transition: .3s ease;
  img {
    border-radius: 3px;
    object-fit: cover;
    object-position: center;
    width: 80px;
    height: 80px;
  }
  .item-title {
    flex-grow: 1;
    margin-left: 20px;
    overflow-x: hidden;
    span {
      display: inline-block;
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }
  }
  &:hover, &.selected {
    background: rgb(34, 36, 38);
    box-shadow: 0 10px 20px rgb(28, 30, 32);
    color: #fff;
  }
  @media (max-width: 1000px) {
    .item-title {
      line-height: 1.2em;
      margin-left: 15px;
    }
    img {
      width: 50px;
      height: 50px;
      margin-top: -5px;
    }
  }
}

@media (max-width: 1000px) {
  .playlist-selected {
    .button.button-clear {
      display: block;
    }
    .item:not(.selected) {
      display: none;
    }
  }
}

.select-buttons {
  position: absolute;
  top: 20px;
  right: 20px;

  .button + .button {
    margin-left: 8px;
  }
  @media (max-width: 1000px) {
    position: relative;
    top: unset;
    right: unset;
    margin: 20px auto;
    text-align: right;
  }
}

.b-checkbox.checkbox.is-disabled {
  cursor: pointer !important;
  opacity: 1 !important;
}

.copyright {
  position: fixed;
  right: 10px;
  bottom: 10px;

  @media (max-width: 1000px) {
    right: unset;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }
}
